In [1]:
import pandas as pd
import numpy as np
from CRM.infill_drilling import infill_drilling_preds

In [4]:
df_history = pd.read_excel('2x4x1_st.xlsx')   #production, BHP, injection for 'old' wells
df_control = pd.read_excel('2x4x1_new.xlsx')  #BHP and injection for 'old' and new well
df_old_coords = pd.read_excel('coords.xlsx')  #coordinates of 'old' wells
new_coords = np.array([500., 325.])           #coordinates for new well

In [5]:
liq_preds = infill_drilling_preds(df_history, df_control, df_old_coords, new_coords)
liq_preds

        Date          P1          P2          P3          P4          P5
0 2013-01-31   40.773813  136.805019  135.567249   19.966660   83.278185
1 2013-02-28   78.471575  116.577818   48.975012  148.928098  178.975661
2 2013-03-31   92.070232  107.435067  180.068637   60.670628  176.939351
3 2013-04-30   88.327526   88.465755   41.025726  161.319622  226.999348
4 2013-05-31   53.651590   99.915739  121.813988   15.832350  134.337687
5 2013-06-30  122.989360   75.455858   25.335908   81.059626  173.789407